$Blackish: #202020;
$Dark-Grey: #3F3F3F;
$Medium-Grey: #707070;
$Light-Grey: #ebebeb;
$Primary: #8b210b;
$White: #FFFFFF;

.form {
    background: $White;
    box-shadow: 0 30px 60px 0 rgba($Primary, 0.4);
    border-radius: 5px;
    min-width: 300px;
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    // left: 0;
    // right: 0;
    // position: absolute;
    border-top: 5px solid $Primary;
  /*   z-index: 1; */
    animation: bounce 1.5s infinite;
  }
  ::-webkit-input-placeholder {
    font-size: 1.3em;
  }
  
  .title{
    display: block;
    font-family: sans-serif;
    margin: 10px auto 5px;
    max-width: 260px;
    text-align: center;
  }
  .termsConditions{
    margin: 0 auto 5px 80px;
  }
  
  .pageTitle{
    font-size: 2em;
    font-weight: bold;
  }
  .secondaryTitle{
    color: $Medium-Grey;
  }
  
  .name {
    background-color: $Light-Grey;
    color: $Dark-Grey;
    transform: scale(.96);
  }
  .name:hover {
    border-bottom: 5px solid $Primary;
    height: 30px;
    transform: scale(1);
    transition: ease 0.5s;
  }
  
  .email {
    background-color: $Light-Grey;
    height: 2em;
    transform: scale(.96);
  }
  
  .email:hover {
    border-bottom: 5px solid $Primary;
    height: 30px;
    transform: scale(1);
    transition: ease 0.5s;
  }
  
  .message {
    background-color: $Light-Grey;
    overflow: hidden;
    height: 10rem;
    resize: none;
    transform: scale(.96);
  }
  
  .message:hover {
    border-bottom: 5px solid $Primary;
    height: 12em;
    transform: scale(1);
    transition: ease 0.5s;
  }
  
  .formEntry {
    display: block;
    margin: 30px auto;
    min-width: 260px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    transition: all 0.5s ease 0s;
  }
  
  .submit {
    // width: 200px;
    transform: scale(.96);
    color: $White;
    background-color: $Blackish;
    font-size: 20px;
  }
  
  .submit:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    transform: scale(1);
    border-top: 5px solid $Primary;
    border-radius: 0%;
    cursor: pointer;
  }

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  background-color: $White;
  width: 60%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: $White;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: $Blackish;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: $Primary;
  color: $White;
}

.modal-body {
  padding: 2px 16px;
  text-align: center;
}

.modal-footer {
  padding: 2px 16px;
  background-color: $Primary;
  color: $White;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}
  
  @keyframes bounce {
    50% {
      transform: translate(0, 8px);
    }
  } 