.form {
  background: #FFFFFF;
  -webkit-box-shadow: 0 30px 60px 0 rgba(235, 235, 235, 0.4);
          box-shadow: 0 30px 60px 0 rgba(235, 235, 235, 0.4);
  border-radius: 5px;
  min-width: 300px;
  max-width: 50vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 5px solid #8b210b;
  /*   z-index: 1; */
  -webkit-animation: bounce 1.5s infinite;
          animation: bounce 1.5s infinite;
}

::-webkit-input-placeholder {
  font-size: 1.3em;
}

.title {
  color: #202020;
  display: block;
  font-family: sans-serif;
  margin: 10px auto 5px;
  max-width: 260px;
  text-align: center;
}

.termsConditions {
  margin: 0 auto 5px 80px;
}

.pageTitle {
  font-size: 2em;
  font-weight: bold;
}

.secondaryTitle {
  color: #707070;
}

.name {
  background-color: #ebebeb;
  color: #3F3F3F;
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.name:hover {
  border-bottom: 5px solid #8b210b;
  height: 30px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.email {
  background-color: #ebebeb;
  height: 2em;
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.email:hover {
  border-bottom: 5px solid #8b210b;
  height: 30px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.message {
  background-color: #ebebeb;
  overflow: hidden;
  height: 10rem;
  resize: none;
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.message:hover {
  border-bottom: 5px solid #8b210b;
  height: 12em;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.formEntry {
  display: block;
  margin: 30px auto;
  min-width: 260px;
  padding: 10px;
  border-radius: 2px;
  border: none;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.submit {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
  color: #FFFFFF;
  background-color: #202020;
  font-size: 20px;
}

.submit:hover {
  -webkit-box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
          box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transform: scale(1);
          transform: scale(1);
  border-top: 5px solid #8b210b;
  border-radius: 0%;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  background-color: #FFFFFF;
  width: 60%;
  color: #202020;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
}

/* The Close Button */
.close {
  color: #FFFFFF;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #202020;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #8b210b;
  color: #FFFFFF;
}

.modal-body {
  padding: 2px 16px;
  text-align: center;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #8b210b;
  color: #FFFFFF;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes bounce {
  50% {
    -webkit-transform: translate(0, 8px);
            transform: translate(0, 8px);
  }
}

@keyframes bounce {
  50% {
    -webkit-transform: translate(0, 8px);
            transform: translate(0, 8px);
  }
}
/*# sourceMappingURL=contact.css.map */