$Blackish: #202020;
$Dark-Grey: #3F3F3F;
$Medium-Grey: #707070;
$Primary: #8b210b;
$White: #FFFFFF;

html {
    scroll-behavior: smooth;
    // * {
    //     padding: 0;
    //     margin: 0;
    // }
}

body {
    background: $Blackish;
    // font-family: 'Dancing Script', cursive;
    font-family: 'Roboto Condensed';
    color: $White;
    margin: 0;

    a {
        color: $Primary;
        text-decoration: none;
        font-weight: 600;
    }
}

.to-top {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem;
    display: none;
    cursor: pointer;

    i {
        color: $Primary;
    }
}

input, textarea {
    accent-color: $Primary;
}

.section {

    margin-left: clamp(2rem, 20vw, 20rem);
    margin-right: clamp(2rem, 20vw, 20rem);
    margin-top: 6rem;
    margin-bottom: 6rem;

    .heading {
        color: $White;
        font-size: 2.25rem;
        margin: 0;

        &-date {
            color: $Medium-Grey;
            font-size: 1.25rem;
            margin: 0;
        }

        &-title {
            color: $White;
            font-size: 1.5rem;
            margin: .25rem 0 0 0;
        }

        &-link {
            font-size: 1.25rem;
        }
    }

    p {
        color: $White;
        font-size: 1.5rem;
    }

    ul {
        font-size: 1.25rem;
    }
}