/* For desktop: */
.my-col-1 {
  width: 8.33%;
}
.my-col-2 {
  width: 16.66%;
}
.my-col-3 {
  width: 25%;
}
.my-col-4 {
  width: 33.33%;
}
.my-col-5 {
  width: 41.66%;
}
.my-col-6 {
  width: 50%;
}
.my-col-7 {
  width: 58.33%;
}
.my-col-8 {
  width: 66.66%;
}
.my-col-9 {
  width: 75%;
}
.my-col-10 {
  width: 83.33%;
}
.my-col-11 {
  width: 91.66%;
}
.my-col-12 {
  width: 100%;
}

@media only screen and (max-width: 991px) {
  /* For mobile phones: */
  [class*="my-col-"] {
    width: 100%;
  }

  .hide-mobile {
    display: none !important;
  }

  .name-picture {
    flex-direction: column;
  }

  .nav-ul {
    position: fixed;
    top: 0;
    display: none;
    background: white;
    margin: 0;
    padding: 0;
    bottom: 0;
    width: 100%;
    flex-direction: column;
    z-index: 100;
  }

  .section {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

@media only screen and (min-width: 992px) {
  /* For desktop only: */

  .hide-desktop {
    display: none !important;
  }
}